#header 
{
	position: absolute;
	height:60px;
	width:130px;
	margin-top:200px;
	margin-left:70px;
}


#header p
{
	font-size:25px;
	color:red;
}

#text_div_1
{
	position: absolute;
	height:480px;
	width:600px;
	margin-top:300px;
	margin-left: 120px;
	line-height: 150%;
}

#text_div_1 p
{
	font-size: 15px;
	color: #606060;
}

#empty
{
	margin-top:820px;
}