#header
{
	position: absolute;
	height: 50px;
	width: 600px;
	margin-top:200px;
	margin-left:200px;
}

#header p
{
	margin-top:9px;
	height:90%;
	width:100%;
	font-size:28px;
	color:#B00000;
}

#content
{
	position: absolute;
	height:200px;
	width:1000px;
	margin-top:260px;
	margin-left:240px;

}

#content p
{
	font-size: 20px;
	color:#808080;
}

